# Code style for the project; see docs/REGULATIONS.md.
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<gtest/'
    Priority: 1
  - Regex: '^<.*>$'
    Priority: 2
  - Regex: '^"lms/'
    Priority: 3
  - Regex: '.*'
    Priority: 4
